.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mt-3{
  margin-top: 1rem;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;

}

.content {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div {
  display: block;

}

article {
  font-family: Roboto;
  font-weight: 300;
  font-size: 120%;
}

a {
  color: #0066ff;
  text-decoration: none;
  background-color: transparent;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
